html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

/* BACKGROUND */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: radial-gradient(circle at top, #ff9a9e, #fad0c4, #fbc2eb, #a18cd1);
    background-size: 400% 400%;
    animation: bgMove 18s ease infinite;
}

@keyframes bgMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* LOGIN */
#loginBox {
    background: white;
    padding: 35px;
    border-radius: 22px;
    width: 320px;
    text-align: center;
    box-shadow: 0 20px 40px rgba(0,0,0,0.3);
}

#loginBox input {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border-radius: 10px;
    border: 1px solid #ccc;
}

#loginBox button {
    padding: 12px;
    width: 70%;
    border-radius: 12px;
    border: none;
    background: linear-gradient(to right, #ff512f, #dd2476);
    color: white;
}

/* FEED */
#feed {
    display: none;
    width: 100%;
    min-height: 100vh;
}

#feedContainer {
    max-width: 420px;
    margin: auto;
    padding: 15px;
}

/* POST */
.post {
    background: white;
    border-radius: 18px;
    margin-bottom: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.post img {
    width: 100%;
}

.actions {
    display: flex;
    justify-content: space-around;
    padding: 10px;
}

