
body {
    font-family: Arial;
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}

.post {
    background: white;
    width: 320px;
    margin: 20px auto;
    padding: 10px;
    border: 1px solid #ccc;
}

.post img {
    width: 100%;
}

button {
    margin-top: 5px;
}
