body {
    margin: 0;
    font-family: Arial;
    background: #f0f2f5;
}

header {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    padding: 15px;
    text-align: center;
    color: white;
}

#loginBox {
    width: 300px;
    margin: 100px auto;
    background: white;
    padding: 20px;
    text-align: center;
    box-shadow: 0 0 10px gray;
}

#loginBox input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
}

.hidden {
    display: none;
}

.post {
    background: white;
    width: 350px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
}

.post img {
    width: 100%;
    border-radius: 10px 10px 0 0;
}

.user {
    padding: 10px;
    font-weight: bold;
}

.post p {
    padding: 0 10px;
}

.actions {
    padding: 10px;
}

.actions button {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    font-size: 14px;
}


